@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer components {
  .feedback-tooltip{
    @apply tooltip bg-primary-200 text-primary-800 rounded-lg py-2 px-4 mt-10 -ml-5;
  }
  .material-icons-clickable{
    @apply text-primary-700 hover:text-primary-700 hover:bg-primary-100 rounded-full p-1 transition duration-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .tooltip{
  @apply opacity-0 absolute transition duration-100;
  }

  .has-tooltip:hover .tooltip{
  @apply opacity-100;
  }
}